<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    

<mapper	namespace="com.project.myapp.movie.basket.IBasketRepository">
	
	<!-- 작성자 : 김미리 -->
	<!-- 위시리스트 담기 -->
	<insert id="insertBasket" parameterType="com.project.myapp.movie.basket.BasketVO">
		INSERT INTO Basket
					(BASKET_ID, MEMBER_ID, FILM_ID)
		VALUES
					(Basket_SEQ.nextval, #{memberId}, #{filmId})
	</insert> 
	
	<!-- 작성자 : 김미리 -->
	<!-- 마이페이지 위시리스트 출력 -->
	<select id="getBasketList" parameterType="String" resultType="com.project.myapp.movie.film.FilmVO">
		SELECT f.FILM_TITLE   AS filmTitle,
		       f.RELEASE_DATE   AS releaseDate,
		       f.director   AS director,
		       f.GENRE  AS genre,
		       f.country  AS country,
		       b.film_id  AS filmId,
		       b.BASKET_ID  AS basketId,
		       u.file_name AS fileName,
		       u.file_id AS fileId
		FROM FILM f , basket b , upload_file u
		WHERE (f.film_id = u.film_id) 
		    AND (f.film_id = b.film_id)
		    AND b.member_id = #{memberId}  
	</select>
	
	<!-- 작성자 : 김미리 -->
	<!-- 담기 기능: 위시리스트 체크 -->
	<select id="getBasketList_chk" parameterType="String" resultType="com.project.myapp.movie.film.FilmVO">
		SELECT f.FILM_TITLE   AS filmTitle,
		       f.RELEASE_DATE   AS releaseDate,
		       f.director   AS director,
		       f.GENRE  AS genre,
		       f.country  AS country,
		       b.film_id  AS filmId,
		       b.BASKET_ID  AS basketId,
		       u.file_name AS fileName,
		       u.file_id AS fileId
		FROM FILM f , basket b , upload_file u
		WHERE (f.film_id = u.film_id) 
		    AND (f.film_id = b.film_id)
		    AND b.member_id = #{memberId}
		    AND f.film_id = #{filmId}
	</select>
	
	<!-- 작성자 : 김미리 -->
	<!-- 삭제 기능: 위시리스트 체크 -->
	<delete id="deleteBasket" >
		DELETE FROM basket
		WHERE basket_Id= #{basketId} and member_id = #{memberId}
	</delete >
	
	<!-- 작성자: 이기쁨 -->
	<!-- 장바구니 삭제 -->
	<delete id="deleteBasket2" parameterType="String">
		DELETE FROM BASKET WHERE MEMBER_ID = #{memberId}	
	</delete>
	
</mapper>