@charset "UTF-8";

.wrapper {
  background-color: whitesmoke;
  width: 1100px;
  height: auto;
  margin: auto;
  top: 0;
  bottom: 0;
  padding: 80px 20px 20px 20px;
}

.box {
  display: flex !important;
  color: black;
  background-color: whitesmoke;
  margin: 10px;
  padding: 3px 10px;
  margin: 20px;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(0, 0, 0);
}

.film_title{
	width:210px;
	overflow: hidden;
}

/* .box {
	display: flex !important;
	color: black;
	background-color: whitesmoke;
	margin: 10px;
	padding: 3px 10px;
	margin: 20px;
	border: 1px solid rgb(0, 0, 0);
}


영화정보 담긴 컨테이너
  포스터, 제목, 별점정보등 담겨있음

.film_info_container {
	display: grid;
	justify-content: flex-start;
	align-items: flex-end;
	margin: 10px 20px;
	align-items: end;
	white-space: normal;
	background-color: whitesmoke;
	border: 1px solid rgb(0, 0, 0);
}

#poster {
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row: 1/span 2;
	width: 300px;
	height: 390px;
	left: 312px;
	top: 30px;
	box-sizing: border-box;
	background: transparent;
	border: 1px solid rgb(0, 0, 0);
}

#poster img {
	max-width: 100%;
	height: inherit;
	display: block;
	object-fit: fill;
}

#film_info {
	grid-column-start: 2;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 2;
	display: flex;
	width: 300px;
	height: 86px;
	box-sizing: border-box;
	background: transparent;
}

#star_avg {
	grid-column-start: 3;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 2;
	display: flex;
	width: 300px;
	height: 86px;
	box-sizing: border-box;
	background: transparent;
}

@media (min-width: 760px){
.section_layout{
	margin-top: 80px;
	}
}

@media (min-width: 600px){
.section_layout{
	min-height: calc(100vh - 343px);
	}	
}

@media (min-width: 719px){
.content1{
	margin-bottom: 30px;

	}
}

@media (min-width: 760px){
	.title1{
		margin: 0 3.5%;
	}
}

.title1{
	white-space: nowrap;
    max-width: 1320px;
    padding: 12px 0 14px;
    max-height: 60px;
    line-height: 30px;	
}

.title1_content{
	color: #292a32;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -0.4px;
    line-height: 30px;
}

@media (min-width: 760px){
	.content1_img_layout{
		margin: 0 3.5%;
	}
}

.content1_img_layout{
	max-width: 1320px;

	}

.content1_img_full{
	position: relative;
    transform: translate3d(0px, 0px, 0px);
    margin: 0px -6px;
}

.content1_img_sub{
	overflow-x: hidden;
    overflow-y: hidden;
}

.content1_img_sub_under{
	    transition: 500ms;
}

@media (min-width: 760px){
.content1_img_end{
	margin-right: 0;
    margin-left: 0;
	}
}

.poster_ul{
	list-style: none;
    padding: 0px;
    white-space: nowrap;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 1320px;
    
}

@media (min-width: 760px){
	.print_img li{
	width: 25%;
	margin-bottom: 0px;
	padding: 0px 6px !important;
	}
}

.img1{
	display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 33.333333333333336%;
    padding: 0 5px;
    margin: 0 0 24px;
}

.img1 a{
	display: inline-block;
    text-decoration: none;
    width: 100%;
    
}

.poster_img1{
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 145.37037037037038%;
}


.poster_img2{
	vertical-align: top;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
    transition: opacity 420ms ease 0s;
}

.movie_info{
	text-align: left;
    width: calc(100% - 10px);
    margin: 5px 10px 0 0;
}

.poster_img_result{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: 1px solid #eae9e8;
    border-radius: 5px;
    background: #f8f8f8;
    -webkit-transition: 300ms;
    transition: 300ms;
}

.image1{
	vertical-align: top;
    width: 100%;
    height: 100%;
    opacity: 1;
    object-fit: cover;
    transition: opacity 420ms ease 0s;
}

@media (min-width: 719px){
	.number_box1{
	top: 6px;
    left: 6px;
    width: 28px;
    height: 28px;
    line-height: 27px;
	}
}

@media (min-width: 460px){
	.number_box1{
	bottom: 6px;
	}	
}



.movie_title{
	color: #292a32;
    letter-spacing: -0.5px;
    line-height: 20px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.3px;
    line-height: 22px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
    padding-bottom: 140%;
}

@media (min-width: 719px){
	.country{
	    display: block;
	}
}

.country{
	color: #292a32;
    padding-bottom: 1px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: normal;
    line-height: 21px;
}

.movie_average{
	color: #555765;
}

@media (min-width: 719px){
	.movie_average{
	margin-top: 2px;
	}
}

.movie_average{
	color: #787878;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.2px;
    line-height: 18px;
    white-space: nowrap;
    height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 14px;
    height: 15px;
	}

.movie_average span{
	height: 15px;
}

.movie_average svg{
	margin-top: 2px;
}

.svg{
	vertical-align: middle;
    width: 12px;
    height: 10px;
    margin-right: 1px;
    margin-left: 1px;
    fill: #555765;
}

@media (min-width: 719px){
	.reservation_rate{
	display: block;
	}
}

.reservation_rate{
    color: #74747b;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: -0.3px;
    line-height: 18px;
    margin-top: 5px;
} */