@charset "UTF-8";

/* 작성자 : 김미리,박주영 */

.notice_title{
	margin-top: 20px;
}

.notice_table{
	margin-top: 20px;
}

.notice_table tr, td,th{
	border: 1px solid #ddd;
}

.notice_table th{
	background: #DCDCDC;
}

.notice_write_title{
	text-decoration : none;
	display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    color : #4a4a4a;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.2px;
}

.noticeDate{
	font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.7px;
    margin-top: 4px;
    color: rgba(0,0,0,0.5);
}

.notice_number{
	font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.7px;
    margin-top: 4px;
    color: rgba(0,0,0,0.5);
}

.notice_write_info{
	text-decoration : none;
	display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    color : #4a4a4a;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: -0.2px;
}

.notice_number_info{
	font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.7px;
    margin-top: 4px;
    color: rgba(0,0,0,0.5);
    text-align: left;
}

.noticeDate_info{
	font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.7px;
    margin-top: 4px;
    color: rgba(0,0,0,0.5);
    text-align: left;
}
